head{right}

body {
background-color:white;
background:none;
color:black;
font-family: Times, "Times New Roman", serif;
font-size:13pt
}

header h1{
background-color: black;
color:white;
font-size: 22pt;
text-align: center;
text-transform: uppercase;
font-family: Helvetica, Arial, sans-serif;
padding: 7pt
}

date{front-align:right}
h2{
padding: 0;
margin: 0;
font-size: 20pt;
border-bottom: 1px solid black;
}

 p{
line-height: 18pt;
}

footer{
display:none
}

img {
display:none;
}



nav {
display:none;
}

