

body{background: pink;
	font-family:"Comic Sans MS", Calibri, Courier}
	
h1 {
  font-family:"Comic Sans MS", Calibri, Cooper Black;
  font-size:4em;
  padding-top:5px;
  font-style:italic;
}

h2 {
  font-family:Cooper Black;
  font-size:2em; 
  padding-top:5px;
 }

div{display:block;
text-align: center}

figure{}
	
ul{
	font-family:"Comic Sans MS", Calibri, Courier;	
	font-size:1.5em
}

p{
	font-size: 1.5em;
	color: #999900;
}

a:link {color: #999900}     
a:visited {color: grey} 
a:hover {color: red}  
a:active {color: #999900}  
